<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Image2PDF</title>

    <!--#region Hide the navigation bar when this page is used as a bookmarked app -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <!--#endregion -->

    <!--#region Favicons -->
    <link rel="shortcut icon" href="~/images/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicons/apple-touch-icon-152x152.png" />
    <!--#endregion -->

    <!--#region Render CSS -->
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <!--#endregion -->
</head>
<body class="minimal">
    <!--#region Render Body -->
    <div id="body">
        @RenderBody()
    </div>
    <!--#endregion -->
    <!--#region Scripts -->
    <div class="hide">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </div>
    <!--#endregion -->
</body>
</html>
